appdirs==1.4.4
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
-e git+https://github.com/cldf/cldfbench/@abccf1d5eba75c98f8394c2f65f25ca320f31044#egg=cldfbench
-e git+https://github.com/cldf/cldfcatalog@f26c9ac38c1ab111a55682ae83f4ac1cb03333c3#egg=cldfcatalog
clldutils==3.5.4
colorlog==4.6.2
-e git+https://github.com/cldf/csvw.git@b10174cf852b6006d8c0e129dc6966bf70509bad#egg=csvw
decorator==4.4.2
gitdb==4.0.5
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
jdcal==1.4.1
-e git+https://github.com/lexibank/aaleykusunda.git@9e6031c71fc0ee0edbd6744a13763d3a8db504ac#egg=lexibank_aaleykusunda
-e git+https://github.com/lexibank/abrahammonpa@3020674bff5b388305b553b404df90b12fb1387d#egg=lexibank_abrahammonpa
-e git+https://github.com/lexibank/allenbai.git@0999aa16c3121c755b963e257f88dd781bd28caf#egg=lexibank_allenbai
-e git+https://github.com/lexibank/bdpa.git@f3543076b2c35739af4120c97f4e632298ea3b98#egg=lexibank_bdpa
-e git+https://github.com/lexibank/beidasinitic.git@e3a9f526d6167075a32e0c59888c763693ea2eaa#egg=lexibank_beidasinitic
-e git+https://github.com/lexibank/birchallchapacuran.git@71c228864e2ee77432a2c9822808523f75a0f47f#egg=lexibank_birchallchapacuran
-e git+https://github.com/sequencecomparison/blustaustronesian@0ba938a64cf87845eefbd1336065d0298ef21f9c#egg=lexibank_blustaustronesian
-e git+https://github.com/lingpy/bodtkhobwa/@4759c9849eb8964a645ec723babf28d26dde5f2d#egg=lexibank_bodtkhobwa
-e git+https://github.com/lexibank/bowernpny.git@c27c76643cb9ef9d105dd9493b3d3ab5da404ba1#egg=lexibank_bowernpny
-e git+https://github.com/lexibank/cals.git@24a3f3ada85c85b2742a571719e7584843605d50#egg=lexibank_cals
-e git+https://github.com/lexibank/castrosui.git@000366fa232b51660dd188ef4c6388b47e452d33#egg=lexibank_castrosui
-e git+https://github.com/lexibank/castroyi.git@039f98d28be35646872b8c9b0b8fd9c7639b165f#egg=lexibank_castroyi
-e git+https://github.com/lexibank/chaconarawakan.git@06d377fc391316b740e474278ae78d02b74cedd2#egg=lexibank_chaconarawakan
-e git+https://github.com/lexibank/chaconbaniwa.git@48c47d501097a348445ee53174924dfffe91ad4e#egg=lexibank_chaconbaniwa
-e git+https://github.com/lexibank/chaconcolumbian.git@4dc33383601f877e12957baef988e70090d3f681#egg=lexibank_chaconcolumbian
-e git+https://github.com/lexibank/chechuroborrowing@041aa00ebf4c979b391e024f65624748252985ed#egg=lexibank_chechuroborrowing
-e git+https://github.com/lexibank/chenhmongmien@b12065e25c9cccb19254e3913881d3ce4cebb1f4#egg=lexibank_chenhmongmien
-e git+https://github.com/lexibank/chindialectsurvey.git@f3632397c06e1f8f271a126f8e28ae422e1ee38b#egg=lexibank_chindialectsurvey
-e git+https://github.com/lexibank/davletshinaztecan.git@d61553482d2f118a1dab86c0c74da71035f935ff#egg=lexibank_davletshinaztecan
-e git+https://github.com/lexibank/deepadungpalaung.git@a82093682bb7541a6438b44db8db847b00f4858e#egg=lexibank_deepadungpalaung
-e git+https://github.com/lexibank/dravlex.git@fcce84438c70f2fbc292b3884195fdd4eb9f4278#egg=lexibank_dravlex
-e git+https://github.com/lexibank/dunnaslian.git@2eaca7c94a861acff32cb14345e63e34557f58f0#egg=lexibank_dunnaslian
-e git+https://github.com/SequenceComparison/dunnielex.git@01583b759f9055050217843df98f5e933f7fb538#egg=lexibank_dunnielex
-e git+https://github.com/lexibank/galuciotupi/@0360f76ef5c8169922c355832e48ded97b7f3a32#egg=lexibank_galuciotupi
-e git+https://github.com/lexibank/gerarditupi.git@34e1365afa63e34f32bebb2d03833df9bc82e1ce#egg=lexibank_gerarditupi
-e git+https://github.com/lexibank/halenepal.git@4ce1884715c52754415d6942f39526b1b8534d19#egg=lexibank_halenepal
-e git+https://github.com/lexibank/hantganbangime.git@1bcffff1df8f7a0b1a395ac12defe5364c0c1080#egg=lexibank_hantganbangime
-e git+https://github.com/sequencecomparison/hattorijaponic@cbe2cd9104840d7b7ba9b1ac48e8db760b73a6fc#egg=lexibank_hattorijaponic
-e git+https://github.com/SequenceComparison/houchinese.git@d6193999d8f0e081dcc9c14cbf8b96c175670f5c#egg=lexibank_houchinese
-e git+https://github.com/lexibank/hubercolumbian.git@9021ba2a6cb8624e84bd6821516c3dac0a1f80c7#egg=lexibank_hubercolumbian
-e git+https://github.com/lexibank/ivanisuansu@08cd27722de299b5b166b6309559e74a66f6327e#egg=lexibank_ivanisuansu
-e git+https://github.com/lexibank/johanssonsoundsymbolic@476fff4ae90281a2ec591037b7e391612195ef68#egg=lexibank_johanssonsoundsymbolic
-e git+https://github.com/lexibank/joophonosemantic.git@602f561d09d46639a4befdcd294059d00da4c336#egg=lexibank_joophonosemantic
-e git+https://github.com/sequencecomparison/kesslersignificance@b4713252af6fc5c3ef8276c0da9bb0bb22929591#egg=lexibank_kesslersignificance
-e git+https://github.com/lexibank/kraftchadic.git@6c4f4875c4775f1c30290682f0135a5683404831#egg=lexibank_kraftchadic
-e git+https://github.com/lexibank/leekoreanic@85cd86fb8f8e49c091d7c13ff0654699c55e782c#egg=lexibank_leekoreanic
-e git+https://github.com/lexibank/lieberherrkhobwa.git@4ba2d48ab403715a2d1e2c4665ae8f1ee95b4785#egg=lexibank_lieberherrkhobwa
-e git+https://github.com/lexibank/lundgrenomagoa.git@9455b0ca8db9559366791ae737ba83292b0e57a2#egg=lexibank_lundgrenomagoa
-e git+https://github.com/lexibank/mannburmish.git@1a09605915e2195dd1822393e19cb7885108063a#egg=lexibank_mannburmish
-e git+https://github.com/lexibank/marrisonnaga.git@8f1c7701e72769e4b87e879c75a26aee33d1dd08#egg=lexibank_marrisonnaga
-e git+https://github.com/lexibank/mcelhanonhuon@4cbe4df70197a8a0a2510d10098902caca90edcc#egg=lexibank_mcelhanonhuon
-e git+https://github.com/lexibank/mitterhoferbena@18981f863ab9d0cc54c95a78576b01676cbaec00#egg=lexibank_mitterhoferbena
-e git+https://github.com/lexibank/naganorgyalrongic@7d88026b6e9cf9754841ffcf885e91fac07c6e3c#egg=lexibank_naganorgyalrongic
-e git+https://github.com/lexibank/northeuralex.git@306282709f178270a9b35232ba8d622e74ee5cc4#egg=lexibank_northeuralex
-e git+https://github.com/lexibank/peirosaustroasiatic.git@379c68658122a87b34085640cea5edcc4c37b35d#egg=lexibank_peirosaustroasiatic
-e git+https://github.com/lexibank/pharaocoracholaztecan.git@076ce6d585f60e8b3b5cce4c62226fa4882d7d28#egg=lexibank_pharaocoracholaztecan
-e git+https://github.com/lexibank/robinsonap@2e209b97dd0f73711636e02b3e9276fe45178fd3#egg=lexibank_robinsonap
-e git+https://github.com/digling/sinotibetan-data.git@354cdb503a0c02d17d4546f471a504d55bd06a1c#egg=lexibank_sagartst
-e git+https://github.com/lexibank/savelyevturkic.git@c3b8289f251e19ba7435de6031e74ac82a44e151#egg=lexibank_savelyevturkic
-e git+https://github.com/lexibank/sohartmannchin.git@a462dff25a086474bae7766677f15aed4a3818fc#egg=lexibank_sohartmannchin
-e git+https://github.com/sequencecomparison/starostinpie.git@c5780b5730cf14208184d15bc9e2797c9f671903#egg=lexibank_starostinpie
-e git+https://github.com/lexibank/suntb.git@e7f92af86e2399878618c4dfb36db6fc7afde4b4#egg=lexibank_suntb
-e git+https://github.com/lexibank/tppsr/@0f45eb1cde71d5ffde84011335e817710b47b9c7#egg=lexibank_tppsr
-e git+https://github.com/lexibank/transnewguineaorg.git@0c17a8dce301d1a9347c2f6ed3f7e48ca1d7e8e4#egg=lexibank_transnewguineaorg
-e git+https://github.com/lexibank/tryonsolomon.git@f483c951074a138f15778537c5dbb01c68c0e214#egg=lexibank_tryonsolomon
-e git+https://github.com/lexibank/walkerarawakan.git@931280aff2957184157ad3750bcdee2c7f75a306#egg=lexibank_walkerarawakan
-e git+https://github.com/lexibank/walworthpolynesian.git@211e620f4e26e9bc8f65cbe5d073e3357ee2d2dc#egg=lexibank_walworthpolynesian
-e git+https://github.com/lexibank/wold.git@9cc85af0fb21641415000321be24e87643133b3a#egg=lexibank_wold
-e git+https://github.com/lexibank/yanglalo/@dbd6694ebeeb04e8ad4bc9364a337a183f6a894e#egg=lexibank_yanglalo
-e git+https://github.com/lexibank/zgraggenmadang.git@2ae53ff5a64c3c08a04e03756bbb3b707cba69ae#egg=lexibank_zgraggenmadang
-e git+https://github.com/lexibank/zhaobai.git@aa45075341677d009d9e35b7b350aced5160e434#egg=lexibank_zhaobai
-e git+https://github.com/SequenceComparison/zhivlovobugrian.git@ade96ce2c1a2d85c66ae7298be93e267cec31f21#egg=lexibank_zhivlovobugrian
-e git+https://github.com/lingpy/lingpy.git@4d42cda2ecd7b54abaf1a2d4aa517c54ff89b573#egg=lingpy
lxml==4.6.1
Markdown==3.3.3
networkx==2.2
newick==1.0.0
numpy==1.19.4
openpyxl==3.0.5
pluggy==0.13.1
purl==1.5
py==1.9.0
pybtex==0.23.0
pycldf==1.17.0
-e git+https://github.com/cldf-clts/pyclts@3fce07619e570b2cb3ef47ee2916da1cd1f48fab#egg=pyclts
-e git+https://github.com/concepticon/pyconcepticon.git@86cf8b33182298c709736360e65caf29570d940e#egg=pyconcepticon
pycountry==20.7.3
-e git+https://github.com/clld/pyglottolog.git@c17c4d48c35c0666d58eac89ba5ea806f62a14ff#egg=pyglottolog
pylexibank==2.8.1
pytest==6.1.2
regex==2020.11.13
requests==2.25.0
rfc3986==1.4.0
segments==2.1.3
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
SQLAlchemy==1.3.20
tabulate==0.8.7
termcolor==1.1.0
tqdm==4.51.0
uritemplate==3.0.1
urllib3==1.26.2
wcwidth==0.2.5
xlrd==1.2.0
zipp==3.4.0